@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 79, 82);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus,
input:focus {
  outline: none;
}

header {
  background: linear-gradient(90deg, #252525, #000000a4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #7fffd4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 30px
}

form {
  position: relative;
  width: 400px;
  max-width: 100%;
}



form input {
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

.search-base {
  background-color: #000000a9;
  color: #7fffd4;
  border: 2px solid #7fffd4;
}

.search-base::placeholder {
  color: #7fffd486;
}

.search-error {
  background-color: #000000a9;
  color: #ff0000;
  border: 2px solid #ff0000;
}

.search-error::placeholder {
  color: #ff0000;
}

form button {
  position: absolute;
  top: 2px;
  right: 0;
  background-color: #000000;
  border: 2px solid #7fffd4;
  border-radius: 50px;
  color: #7fffd4;
  font-size: 16px;
  padding: 13px 50px;
  transition: background-color 0.5s ease-in-out;
}

button:hover {
  background-color: #7fffd4;
  color: #000;
}

.btn {
  background-color: #252525;
  border: 1px solid #7fffd4;
  border-radius: 10px;
  color: #7fffd4;
  padding: 6px 10px;
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  border-bottom: 1px dashed #7fffd4;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 40px;
}

.container {
  background: #000;
  color: #7fffd4;
  padding: 10px 30px;
  margin: 0px auto;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.centered button {
  transform: scale(1.3);
  margin: 15px;
}